Stix/Stix_Mongo_API/incident.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Incident">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:string" />
        <xs:element name="ReferenceID" type="xs:unsignedByte" />
        <xs:element name="Month" type="xs:unsignedByte" />
        <xs:element name="Pending" type="xs:boolean" />
        <xs:element name="Year" type="xs:unsignedByte" />
        <xs:element name="Title" type="xs:string" />
        <xs:element name="ImpactArea" type="xs:string" />
        <xs:element name="VictimLocation" type="xs:string" />
        <xs:element name="VictimCountry" type="xs:string" />
        <xs:element name="Identity" type="xs:string" />
        <xs:element name="VictimType" type="xs:string" />
        <xs:element name="AffectedSystem" type="xs:string" />
        <xs:element name="Method" type="xs:string" />
        <xs:element name="MalwareType" type="xs:string" />
        <xs:element name="RansomwareType" type="xs:string" />
        <xs:element name="AttackPattern" type="xs:string" />
        <xs:element name="Campaign" type="xs:string" />
        <xs:element name="Impact" type="xs:string" />
        <xs:element name="ThreatActorCountry" type="xs:string" />
        <xs:element name="ThreatActor" type="xs:string" />
        <xs:element name="AdditionalInfo" type="xs:string" />
        <xs:element name="Summary" type="xs:string" />
        <xs:element name="ReferenceShort">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="References">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalInfoList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KeyValuePairOfStringString" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>